.timer {
   font-family: 'Inter', sans-serif;

   background: linear-gradient(167.95deg, #000000 11%, #823303 36.64%, #D24F00 58.3%, #F85E01 85.83%);
height: 100vh;

padding-top: 90px;
padding-bottom: 50px;
align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;

   position: relative;

}




/* КОНТЕЙНЕР */

.timer__container {
   padding: 25px 15px 30px;
   max-width: 1100px;
   width: 100%;
   /* height: 100%; */
   display: flex;
   flex-direction: column;
row-gap: 52px;
z-index: 3;
}

/* ==================================== */

/* БЛОК С ЛОГО */

.timer__header {
   display: flex;
   flex-direction: column;
align-items: center;
}
.header-timer {}


.header-timer__logo {
   display: block;
   width: 327px;
   height: 327px;
   background: url(../style/logo-midle.png) no-repeat;
   background-size: contain;

}

.header-timer__final {
   text-align: center;
   color: #fff;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 32px;
   line-height: 1.2;
   max-width: 242px;
   padding: 10px 32px;
   background: #F85E01;
   border-radius: 24px;
 

}

/* ==================================== */

/* БЛОК С ИМЕНЕМ ИНПУТОМ И КНОПКОЙ */
.timer__content {
   display: flex;
   justify-content: space-between;

}

.content {
  
}

      /* КОЛОНКА */

.content__column {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   width: 400px;
   flex: 0 1 400px;

}
      /* ИМЯ */
.content__column-name {
   margin-bottom: 52px;

   word-break:break-all ;
}
      /* БЛОК С ИНПУТОМ */
.content__column__time{
   margin-bottom: 36px;
   font-weight: 700;
   font-size: 64px;
   line-height: 77px;

   padding: 32px 52px;
   
   color: #000000;

   background: #FFFFFF;
box-shadow: inset 0px -4px 8px rgba(85, 85, 85, 0.25), inset 0px 6px 8px rgba(85, 85, 85, 0.25);
border-radius: 48px;
max-width: 287px;


text-align: center;
}
   /* САМ ИНПУТ */
.content__column-input {
   outline: none;

}

.content__column-stop {
  
}

.content__column-go {

}
.content__column-go.btn.btn--orange{
max-width: 287px;
}
.content__column-stop.btn.btn--black{
max-width: 287px;
}

.btt{
   align-self: center;
   max-width: 242px;
   width: 100%;
}

.timer__btn {

}

 @media (max-height: 850px)  {
   .timer{
      overflow: scroll;
   }
  }